/* CreateEvent.module.css */

.CreateEvent {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.CreateEvent h1 {
  font-size: 34px;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.CreateEvent h2 {
  font-size: 1.5em;
  color: #555;
  margin-bottom: 15px;
}

.CreateEvent h3 {
  font-size: 1.8em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.CreateEvent button {
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.CreateEvent form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.CreateEvent form div {
  margin-bottom: 10px;
}

.CreateEvent form label {
  display: block;
  text-align: left;
  font-size: 17px;
  color: #555;
  margin-bottom: 0;
  margin-top: 20px;
  text-decoration: none;
}

.CreateEvent form  label {
  margin-top: 0px;
  font-size: 15px;
}

.CreateEvent form  textarea {
  resize: none;
  width: 100%;
  height: 150px;
}

.CreateEvent form input,
.CreateEvent form select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.CreateEvent form input[type="text"],
.CreateEvent form input[type="email"],
.CreateEvent form input[type="checkbox"] {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.CreateEvent form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.CreateEvent form .checkmark {
  margin-left: 10px;
}

.CreateEvent .room-section {
  margin-top: 20px;
}

.CreateEvent .roomEditor {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.CreateEvent .roomEditor span {
  align-items: center;
  justify-content: space-between;
}

.CreateEvent .trashIcon {
  color: red;
  font-size: 1.2em;
}

.CreateEvent form h3 {
  font-size: 1.2em;
  color: #555;
  margin-top: 20px;
  margin-bottom: 10px;
}

.CreateEvent .formActions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.CreateEvent .buttonGroup {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  font-size: 1em;
  color: #555;
  margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup input[type="checkbox"] {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.formGroup input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}
