.EventManagerEventPage {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 6%;
}

.EventManagerEventPage h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.EventDetails {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.EventDetails p {
  margin: 10px 0;
  font-size: 1em;
  color: #333;
}

.EventDetails a {
  color: #1e90ff;
  text-decoration: none;
}

.EventDetails a:hover {
  text-decoration: underline;
}

.LocationMap, .EventMap {
  margin-top: 20px;
}

.MapContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.MapImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DetailRow {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.Label {
  flex: 1;
  font-weight: bold;
}

.Value {
  flex: 2;
  text-align: left;
}

.EventDetails .FileError {
  color: red;
  margin-top: 10px;
}
